# Executáveis
bin/
*.out
*.exe

# Objetos de compilação
*.o
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# tp1
tp1/experimentos.py
tp1/run_analise.sh

# tp2
tp2/analise.sh
tp2/compilar_resultados.py

# tp3
tp3/analise.sh
tp3/experiment.sh